* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  min-height: 100vh;
}
header {
  border: 2px red dashed;
}
nav {
  display: flex;
  justify-content: space-around;
}
h1 {
  color: red;
}
